:host {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;
  width: 600px;
  max-height: 800px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.2);
}

form ::slotted(label) {
  margin-top: 1em;
}

form ::slotted(input) {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 290px;
  height: 54px;
  border-radius: 2px;
  text-align: center;
  border: 1px solid var(--gr-1);
}

form ::slotted(button) {
  margin-bottom: 25px;
  width: 200px;
  height: 38px;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  background-color: var(--g-6);
  -webkit-box-shadow: 10px 10px 25px -4px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 10px 10px 25px -4px rgba(0, 0, 0, 0.12);
  box-shadow: 10px 10px 25px -4px rgba(0, 0, 0, 0.12);
}

.header {
  width: 500px;
  height: 125px;
  text-align: center;
  background: linear-gradient(90deg, rgba(121, 9, 109, 1) 31%, rgba(0, 212, 255, 1) 100%);
}
.large {
  font-size: large;
}
.medium {
  font-size: medium;
}
.small {
  font-size: small;
}
.serif {
  font-family: 'Times New Roman', Times, serif;
}
.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}
.monospace {
  font-family: 'Courier New', Courier, monospace;
}
.fantasy {
  font-family: 'Copperplate', 'Papyrus';
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  margin-left: 35%;
  margin-right: 50%;
}
