.flex-row-wrap{
  display: flex;     
  flex-direction: row;    
    height: auto;  
    flex-wrap: wrap;   
    background-color: white;
    max-width: 100%;

}

.flex-row-wrap ::slotted(div){
  width: 250px;
  height: 250px;
  background-color: lightgray;
  margin: 10px;
  border: solid 2px black;

}

.flex-column-wrap{
  display: flex;     
  flex-direction: column;    
    height: auto;  
    flex-wrap: wrap;   
    background-color: white;
    max-width: 100%;

}
.flex-column-wrap ::slotted(div){
  width: 250px;
  height: 250px;

  margin: 10px;
  border: solid 2px black;
}

.r1 ::slotted(div){
  background-color: violet;
}
.r1 ::slotted(div p){
  color: aqua;
}

