:host {
  display: block;
}

figure {
  padding: 3%;
  display: block;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.2);
}

img {
  margin-bottom: 2%;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.5);
}

.radius-10 {
  border-radius: 10%;
}

.radius-20 {
  border-radius: 20%;
}

.radius-30 {
  border-radius: 30%;
}
.radius-40 {
  border-radius: 40%;
}
.radius-50 {
  border-radius: 50%;
}
.radius-60 {
  border-radius: 60%;
}

.size-10 {
  max-width: 10%;
  max-height: 10%;
}

.size-20 {
  max-width: 20%;
  max-height: 20%;
}

.size-30 {
  max-width: 30%;
  max-height: 30%;
}

.size-40 {
  max-width: 40%;
  max-height: 40%;
}

.size-50 {
  max-width: 50%;
  max-height: 50%;
}
.size-60 {
  width: 60%;
  height: 60%;
}

.figcaption-10 {
  margin-right: 1%;
  margin-left: 1%;
}

.figcaption-20 {
  margin-right: 6%;
  margin-left: 6%;
}

.figcaption-30 {
  margin-right: 10%;
  margin-left: 10%;
}
.figcaption-40 {
  margin-right: 15%;
  margin-left: 15%;
}
.figcaption-50 {
  margin-right: 20%;
  margin-left: 20%;
}
.figcaption-60 {
  margin-right: 25%;
  margin-left: 25%;
}

.serif {
  font-family: 'Times New Roman', Times, serif;
}
.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}
.monospace {
  font-family: 'Courier New', Courier, monospace;
}
.fantasy {
  font-family: 'Copperplate', 'Papyrus';
}

.center {
  text-align: center;
  margin-top: 2%;
  margin-right: 5%;
}
.right {
  text-align: right;
  margin-top: 2%;
  margin-right: 5%;
}

.left {
  text-align: left;
  margin-top: 2%;
  margin-right: 5%;
}

.large {
  font-size: large;
}
.medium {
  font-size: medium;
}
.small {
  font-size: small;
}
