
.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top:0px;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  background-color:#f1f1f1;

}
.navbar ::slotted(a){
  margin-top: 5px;
  text-decoration: none;
}
.navbar ::slotted(a:hover){
  color: antiquewhite;
  cursor: pointer;

}
.navbar ::slotted(a:visited){
  color: inherit;
}
.vertical{
  flex-direction: column;
  left:90%;
  height: auto;
  position: fixed;
  align-content: center;
  justify-content: baseline;
  list-style-type: none;
  background-color: #f1f1f1;

}
.vertical ::slotted(a){
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.vertical ::slotted(a:hover){
color: white;
opacity: 0.9;

}

.vertical ::slotted(a:hover){
color: white;
opacity: 0.9;

}

.horisontal{
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top:0px;
  height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  width: 100%;
  justify-content: space-around;
  text-decoration: none;

}

.horisontal ::slotted(a){
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.horisontal ::slotted(a:hover){
color: white;
opacity: 0.95;

}
/*Colors*/
/* 
Red
*/
.red1{
  background-color: var(--r-1);
}
.red2{
  background-color: var(--r-2);
}
.red3{
  background-color: var(--r-3);
}
.red4{
  background-color: var(--r-4);
}
.red5{
  background-color: var(--r-5);
}
.red1{
  background-color: var(--r-1);
}
.red6{
  background-color: var(--r-2);
}
.red7{
  background-color: var(--r-3);
}
.red8{
  background-color: var(--r-4);
}
.red9{
  background-color: var(--r-5);
}
.red10{
  background-color: var(--r-5);
}
/* 
Blue
*/
.blue1{
  background-color: var(--b-1);
}
.blue2{
  background-color: var(--b-2);
}
.blue3{
  background-color: var(--b-3);
}
.blue4{
  background-color: var(--b-4);
}
.blue5{
  background-color: var(--b-5);
}
.blue6{
  background-color: var(--b-6);
}
.blue7{
  background-color: var(--b-7);
}
.blue8{
  background-color: var(--b-8);
}
.blue9{
  background-color: var(--b-9);
}
.blue10{
  background-color: var(--b-10);
}
/*
Grey
*/
.grey1{
  background-color: var(--gr-1);
}
.grey2{
  background-color: var(--gr-2);
}
.grey3{
  background-color: var(--gr-3);
}
.grey4{
  background-color: var(--gr-4);
}
.grey5{
  background-color: var(--gr-5);
}
.grey6{
  background-color: var(--gr-6);
}
.grey7{
  background-color: var(--gr-7);
}
.grey8{
  background-color: var(--gr-8);
}
.grey9{
  background-color: var(--gr-9);
}
.grey10{
  background-color: var(--gr-10);
}
/*
gray
*/
.gray1{
  background-color: var(--ge-1);
}
.gray2{
  background-color: var(--ge-2);
}
.gray3{
  background-color: var(--ge-3);
}
.gray4{
  background-color: var(--ge-4);
}
.gray5{
  background-color: var(--ge-5);
}
.gray6{
  background-color: var(--ge-6);
}
.gray7{
  background-color: var(--ge-7);
}
.gray8{
  background-color: var(--ge-8);
}
.gray9{
  background-color: var(--ge-9);
}
.gray10{
  background-color: var(--ge-10);
}
/*
 Yellow 
*/
.yellow1{
  background-color: var(--y-1);
}
.yellow2{
  background-color: var(--y-2);
}
.yellow3{
  background-color: var(--y-3);
}
.yellow4{
  background-color: var(--y-4);
}
.yellow5{
  background-color: var(--y-5);
}
.yellow6{
  background-color: var(--y-6);
}
.yellow7{
  background-color: var(--y-7);
}
.yellow8{
  background-color: var(--y-8);
}
.yellow9{
  background-color: var(--y-9);
}
.yellow10{
  background-color: var(--y-10);
}
/*
Green
*/
.green1{
  background-color: var(--ge-1);
}
.green2{
  background-color: var(--ge-2);
}
.green3{
  background-color: var(--ge-3);
}
.green4{
  background-color: var(--ge-4);
}
.green5{
  background-color: var(--ge-5);
}
.green6{
  background-color: var(--ge-6);
}
.green7{
  background-color: var(--ge-7);
}
.green8{
  background-color: var(--ge-8);
}
.green9{
  background-color: var(--ge-9);
}
.green10{
  background-color: var(--ge-10);
}
/*
Pink
*/
.pink1{
  background-color: var(--p-1);
}
.pink2{
  background-color: var(--p-2);
}

.pink3{
  background-color: var(--p-3);
}

.pink4{
  background-color: var(--p-4);
}

.pink5{
  background-color: var(--p-5);
}

.pink6{
  background-color: var(--p-6);
}

.pink7{
  background-color: var(--p-7);
}

.pink8{
  background-color: var(--p-8);
}

.pink9{
  background-color: var(--p-9);
}
.pink10{
  background-color: var(--p-10);
}
/*
Brown
*/
.brown1{
  background-color: var(--br-1);
}
.brown2{
  background-color: var(--br-2);
}
.brown3{
  background-color: var(--br-3);
}
.brown4{
  background-color: var(--br-4);
}
.brown5{
  background-color: var(--br-5);
}
.brown6{
  background-color: var(--br-6);
}
.brown7{
  background-color: var(--br-7);
}
.brown8{
  background-color: var(--br-8);
}
.brown9{
  background-color: var(--br-9);
}
.brown10{
  background-color: var(--br-10);
}
/*
Hovor colors
*/
/*Red hovering*/
.hover-r1 ::slotted(a:hover){
  background-color: var(--r-1);
}
.hover-r2 ::slotted(a:hover){
  background-color: var(--r-2);
}
.hover-r3 ::slotted(a:hover){
  background-color: var(--r-3);
}
.hover-r4 ::slotted(a:hover){
  background-color: var(--r-4);
}
.hover-r5 ::slotted(a:hover){
  background-color: var(--r-5);
}
.hover-r6 ::slotted(a:hover){
  background-color: var(--r-6);
}
.hover-r7 ::slotted(a:hover){
  background-color: var(--r-7);
}
.hover-r8 ::slotted(a:hover){
  background-color: var(--r-8);
}
.hover-r9 ::slotted(a:hover){
  background-color: var(--r-9);
}
.hover-r10 ::slotted(a:hover){
  background-color: var(--r-10);
}

/*Blue Hovering*/
.hover-b1 ::slotted(a:hover){
  background-color: var(--b-1);
}
.hover-b2 ::slotted(a:hover){
  background-color: var(--b-2);
}
.hover-b3 ::slotted(a:hover){
  background-color: var(--b-3);
}
.hover-b4 ::slotted(a:hover){
  background-color: var(--b-4);
}
.hover-b5 ::slotted(a:hover){
  background-color: var(--b-5);
}
.hover-b6 ::slotted(a:hover){
  background-color: var(--b-6);
}
.hover-b7 ::slotted(a:hover){
  background-color: var(--b-7);
}
.hover-b8 ::slotted(a:hover){
  background-color: var(--b-8);
}
.hover-b9 ::slotted(a:hover){
  background-color: var(--b-9);
}
.hover-b10 ::slotted(a:hover){
  background-color: var(--b-10);
}

/*Grey Hovering*/
.hover-gr1 ::slotted(a:hover){
  background-color: var(--gr-1);
}
.hover-gr2 ::slotted(a:hover){
  background-color: var(--gr-2);
}
.hover-gr3 ::slotted(a:hover){
  background-color: var(--gr-3);
}
.hover-gr4 ::slotted(a:hover){
  background-color: var(--gr-4);
}
.hover-gr5 ::slotted(a:hover){
  background-color: var(--gr-5);
}
.hover-gr6 ::slotted(a:hover){
  background-color: var(--gr-6);
}
.hover-gr7 ::slotted(a:hover){
  background-color: var(--gr-7);
}
.hover-gr8 ::slotted(a:hover){
  background-color: var(--gr-8);
}
.hover-gr9 ::slotted(a:hover){
  background-color: var(--gr-9);
}
.hover-gr10 ::slotted(a:hover){
  background-color: var(--gr-10);
}
/*Gray hovering*/
.hover-ge1 ::slotted(a:hover){
  background-color: var(--ge-1);
}
.hover-ge2 ::slotted(a:hover){
  background-color: var(--ge-2);
}
.hover-ge3 ::slotted(a:hover){
  background-color: var(--ge-3);
}
.hover-ge4 ::slotted(a:hover){
  background-color: var(--ge-4);
}
.hover-ge5 ::slotted(a:hover){
  background-color: var(--ge-5);
}
.hover-ge6 ::slotted(a:hover){
  background-color: var(--ge-6);
}
.hover-ge7 ::slotted(a:hover){
  background-color: var(--ge-7);
}
.hover-ge8 ::slotted(a:hover){
  background-color: var(--ge-8);
}
.hover-ge9 ::slotted(a:hover){
  background-color: var(--ge-9);
}
.hover-ge10 ::slotted(a:hover){
  background-color: var(--ge-10);
}
/*Yellow hovering*/
.hover-y1 ::slotted(a:hover){
  background-color: var(--y-1);
}
.hover-y2 ::slotted(a:hover){
  background-color: var(--y-2);
}
.hover-y3 ::slotted(a:hover){
  background-color: var(--y-3);
}
.hover-y4 ::slotted(a:hover){
  background-color: var(--y-4);
}
.hover-y5 ::slotted(a:hover){
  background-color: var(--y-5);
}
.hover-y6 ::slotted(a:hover){
  background-color: var(--y-6);
}
.hover-y7 ::slotted(a:hover){
  background-color: var(--y-7);
}
.hover-y8 ::slotted(a:hover){
  background-color: var(--y-8);
}
.hover-y9 ::slotted(a:hover){
  background-color: var(--y-9);
}
.hover-y10 ::slotted(a:hover){
  background-color: var(--y-10);
}





/*Pink Hovering*/
.hover-p1 ::slotted(a:hover){
  background-color: var(--p-1);
}
.hover-p2 ::slotted(a:hover){
  background-color: var(--p-2);
}
.hover-p3 ::slotted(a:hover){
  background-color: var(--p-3);
}
.hover-p4 ::slotted(a:hover){
  background-color: var(--p-4);
}
.hover-p5 ::slotted(a:hover){
  background-color: var(--p-5);
}
.hover-p6 ::slotted(a:hover){
  background-color: var(--p-6);
}
.hover-p7 ::slotted(a:hover){
  background-color: var(--p-7);
}
.hover-p8 ::slotted(a:hover){
  background-color: var(--p-8);
}
.hover-p9 ::slotted(a:hover){
  background-color: var(--p-9);
}
.hover-p10 ::slotted(a:hover){
  background-color: var(--p-10);
}

/*Green hovering*/
.hover-g1 ::slotted(a:hover){
  background-color: var(--g-1);
}
.hover-g2 ::slotted(a:hover){
  background-color: var(--g-2);
}
.hover-g3 ::slotted(a:hover){
  background-color: var(--g-3);
}
.hover-g4 ::slotted(a:hover){
  background-color: var(--g-4);
}
.hover-g5 ::slotted(a:hover){
  background-color: var(--g-5);
}
.hover-g6 ::slotted(a:hover){
  background-color: var(--g-6);
}
.hover-g7 ::slotted(a:hover){
  background-color: var(--g-7);
}
.hover-g8 ::slotted(a:hover){
  background-color: var(--g-8);
}
.hover-g9 ::slotted(a:hover){
  background-color: var(--g-9);
}
.hover-g10 ::slotted(a:hover){
  background-color: var(--g-10);
}

/*Bron hovering*/
.hover-br1 ::slotted(a:hover){
  background-color: var(--br-1);
}
.hover-br2 ::slotted(a:hover){
  background-color: var(--br-2);
}
.hover-br3 ::slotted(a:hover){
  background-color: var(--br-3);
}
.hover-br4 ::slotted(a:hover){
  background-color: var(--br-4);
}
.hover-br5 ::slotted(a:hover){
  background-color: var(--br-5);
}
.hover-br6 ::slotted(a:hover){
  background-color: var(--br-6);
}
.hover-br7 ::slotted(a:hover){
  background-color: var(--br-7);
}
.hover-br8 ::slotted(a:hover){
  background-color: var(--br-8);
}
.hover-br9 ::slotted(a:hover){
  background-color: var(--br-9);
}
.hover-br10 ::slotted(a:hover){
  background-color: var(--br-10);
}



