
.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top:0px;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  background-color:#f1f1f1;

}
.navbar ::slotted(a){
  margin-top: 5px;
  text-decoration: none;
}
.navbar ::slotted(a:hover){
  color: antiquewhite;
  cursor: pointer;

}
.navbar ::slotted(a:visited){
  color: inherit;

}
.vertical{
  flex-direction: column;
  left:90%;
  height: auto;
  position: fixed;
  align-content: center;
  justify-content: baseline;
  list-style-type: none;
  background-color: #f1f1f1;

}
.vertical ::slotted(a){
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.vertical ::slotted(a:hover){
background-color: black;
color: white;
opacity: 0.9;

}


.horisontal{
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top:0px;
  height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  width: 100%;
  justify-content: space-around;
  text-decoration: none;

}

.horisontal ::slotted(a){
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.horisontal ::slotted(a:hover){
background-color: black;
color: white;
opacity: 0.95;

}
