:host {
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  margin: var(--size-three);  
}
li:hover {
  background-color: var(--gr-9);
  color:var(--gr-1);
}


