:root {

    --color-color:null;
    /*Red*/
    --r-1:#FFCCBC;
    --r-2:#FFAC9C;
    --r-3:#FF8C7C;
    --r-4:#FF7C6C;
    --r-5:#FF6C5C;
    --r-6:#F75C4C;
    --r-7:#E74C3C;
    --r-8:#D73C2C;
    --r-9:#C72C1C;
    --r-10:#B71C0C;

    /*Blue*/
    --b-1:#39d5ff;
    --b-2:#29c5ff;
    --b-3:#19B5FE;
    --b-4:#22A7F0;
    --b-5:#1297e0;
    --b-6:#0287d0;
    --b-7:#0077c0;
    --b-8:#0067b0;
    --b-9:#0057a0;
    --b-10:#004790;

    /*Grey*/
    --gr-1:#e0e0e0;
    --gr-2:#d0d0d0;
    --gr-3:#c0c0c0;
    --gr-4:#a0a0a0;
    --gr-5:#909090;
    --gr-6:#808080;
    --gr-7:#707070;
    --gr-8:#606060;
    --gr-9:#505050;
    --gr-10:#404040;

    /*Gray*/
    --ge-1:#c5d3e2;
    --ge-2:#bccad9;
    --ge-3:#acbac9;
    --ge-4:#9caab9;
    --ge-5:#8c9aa9;
    --ge-6:#7c8a99;
    --ge-7:#6C7A89;
    --ge-8:#5c6a79;
    --ge-9:#4c5a69;
    --ge-10:#3c4a59;

    /*Yellow*/
    --y-1:#FDE3A7;
    --y-2:#ffcf4b;
    --y-3:#F9BF3B;
    --y-4:#f9b32f;
    --y-5:#F5AB35;
    --y-6:#F39C12;
    --y-7:#f1892d;
    --y-8:#e67e22;
    --y-9:#d87400;
    --y-10:#c86400;

    /*Green*/
    --g-1:#8effc1;
    --g-2:#5efca1;
    --g-3:#4eec91;
    --g-4:#3edc81;
    --g-5:#2ecc71;
    --g-6:#1ebc61;
    --g-7:#0eac51;
    --g-8:#009c41;
    --g-9:#008c31;
    --g-10:#007c21;
<<<<<<< Updated upstream
}
=======

    /*font size px*/
    --size-zero: 0px;
    --size-One: 1px;
    --size-two: 2px;
    --size-three: 3px;
    --size-four: 4px;
    --size-five: 5px;
    --size-six: 6px;
    --size-seven: 7px;
    --size-eight: 8px;
    --size-nine: 9px;
    --size-ten: 10px;
    --size-eleven: 11px;
    --size-twelve: 12px;
    --size-thirteen: 13px;
    --size-fourten: 14px;
    --size-fiften: 15px;
    --size-sixsten: 16px;
    --size-seventen: 17px;
    --size-eighten: 18px;
    --size-nineten: 19px;
    --size-twenty: 20px;

    /*size percent*/
    
    --size-percent-one: 1%;
    --size-percent-two: 2%;
    --size-percent-three: 3%;
    --size-percent-four: 4%;
    --size-percent-five: 5%;
    --size-percent-six: 6%;
    --size-percent-seven: 7%;
    --size-percent-eight: 8%;
    --size-percent-one: 9%;
    --size-percent-one: 10%;
    --size-percent-one: 11%;
}

body {
    margin: var(--size-zero);
    font-size: var(--size-percent-four);
    color: var(--gr-9);
    background-color: var(--gr-1);
    width: 1000px;
    height: 500px;
    text-align: center;

}


>>>>>>> Stashed changes
