.container{
  z-index: 10;
  position: relative;
  max-width: 100px;
  max-height: 40px;
  -webkit-box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.12);
  -moz-box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.12);
  box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.12);
  border: solid 2px;
  border-color: var(--b-8);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.menu{
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 4px;
}

.items{
  position: relative;
  max-height: 0;
  opacity: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border:none;
}

.items ::slotted(a){
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  height: 35px;
  width: 100px;
  text-align: center;
}

div:hover div{
  transition: 0.6s ease-in-out;
  max-height: 1900px;
  opacity: 1;
}

div:hover{
  max-height: 200px;
  transition: 0.5s ease-in-out;
}

.items ::slotted(a:hover){
  transition: 0.5s ease-in-out;
  text-align: center;
  background-color: var(--gr-1);
  border-radius: 1px;
  -webkit-box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.12);
  -moz-box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.12);
  box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.12);
}


/*sizes*/

.sm{
  max-width: 100px;
  max-height: 40px;
}
.md{
  max-width: 130px;
  max-height: 60px;
}
.lg{
  max-width: 160px;
  max-height: 70px;
}
.font-sm{
  font-size: 19px;
}
.font-md{
  font-size: 26px;
}
.font-lg{
  font-size: 32px;
}

/*Background Colors */
.red1{
  background-color: var(--r-1);
}
.red2{
  background-color: var(--r-2);
}
.red3{
  background-color: var(--r-3);
}
.red4{
  background-color: var(--r-4);
}
.red5{
  background-color: var(--r-5);
}
.red1{
  background-color: var(--r-1);
}
.red6{
  background-color: var(--r-2);
}
.red7{
  background-color: var(--r-3);
}
.red8{
  background-color: var(--r-4);
}
.red9{
  background-color: var(--r-5);
}
.red10{
  background-color: var(--r-5);
}
/*
Blue
*/
.blue1{
  background-color: var(--b-1);
}
.blue2{
  background-color: var(--b-2);
}
.blue3{
  background-color: var(--b-3);
}
.blue4{
  background-color: var(--b-4);
}
.blue5{
  background-color: var(--b-5);
}
.blue6{
  background-color: var(--b-6);
}
.blue7{
  background-color: var(--b-7);
}
.blue8{
  background-color: var(--b-8);
}
.blue9{
  background-color: var(--b-9);
}
.blue10{
  background-color: var(--b-10);
}
/*
Grey
*/
.grey1{
  background-color: var(--gr-1);
}
.grey2{
  background-color: var(--gr-2);
}
.grey3{
  background-color: var(--gr-3);
}
.grey4{
  background-color: var(--gr-4);
}
.grey5{
  background-color: var(--gr-5);
}
.grey6{
  background-color: var(--gr-6);
}
.grey7{
  background-color: var(--gr-7);
}
.grey8{
  background-color: var(--gr-8);
}
.grey9{
  background-color: var(--gr-9);
}
.grey10{
  background-color: var(--gr-10);
}
/*
gray
*/
.gray1{
  background-color: var(--ge-1);
}
.gray2{
  background-color: var(--ge-2);
}
.gray3{
  background-color: var(--ge-3);
}
.gray4{
  background-color: var(--ge-4);
}
.gray5{
  background-color: var(--ge-5);
}
.gray6{
  background-color: var(--ge-6);
}
.gray7{
  background-color: var(--ge-7);
}
.gray8{
  background-color: var(--ge-8);
}
.gray9{
  background-color: var(--ge-9);
}
.gray10{
  background-color: var(--ge-10);
}
/*
 Yellow
*/
.yellow1{
  background-color: var(--y-1);
}
.yellow2{
  background-color: var(--y-2);
}
.yellow3{
  background-color: var(--y-3);
}
.yellow4{
  background-color: var(--y-4);
}
.yellow5{
  background-color: var(--y-5);
}
.yellow6{
  background-color: var(--y-6);
}
.yellow7{
  background-color: var(--y-7);
}
.yellow8{
  background-color: var(--y-8);
}
.yellow9{
  background-color: var(--y-9);
}
.yellow10{
  background-color: var(--y-10);
}
/*
Green
*/
.green1{
  background-color: var(--ge-1);
}
.green2{
  background-color: var(--ge-2);
}
.green3{
  background-color: var(--ge-3);
}
.green4{
  background-color: var(--ge-4);
}
.green5{
  background-color: var(--ge-5);
}
.green6{
  background-color: var(--ge-6);
}
.green7{
  background-color: var(--ge-7);
}
.green8{
  background-color: var(--ge-8);
}
.green9{
  background-color: var(--ge-9);
}
.green10{
  background-color: var(--ge-10);
}
/*
Pink
*/
.pink1{
  background-color: var(--p-1);
}
.pink2{
  background-color: var(--p-2);
}

.pink3{
  background-color: var(--p-3);
}

.pink4{
  background-color: var(--p-4);
}

.pink5{
  background-color: var(--p-5);
}

.pink6{
  background-color: var(--p-6);
}

.pink7{
  background-color: var(--p-7);
}

.pink8{
  background-color: var(--p-8);
}

.pink9{
  background-color: var(--p-9);
}
.pink10{
  background-color: var(--p-10);
}
/*
Brown
*/
.brown1{
  background-color: var(--br-1);
}
.brown2{
  background-color: var(--br-2);
}
.brown3{
  background-color: var(--br-3);
}
.brown4{
  background-color: var(--br-4);
}
.brown5{
  background-color: var(--br-5);
}
.brown6{
  background-color: var(--br-6);
}
.brown7{
  background-color: var(--br-7);
}
.brown8{
  background-color: var(--br-8);
}
.brown9{
  background-color: var(--br-9);
}
.brown10{
  background-color: var(--br-10);
}

/*border color*/
.b-red1{
  border-color: var(--r-1);
}
.b-red2{
  border-color: var(--r-2);
}
.b-red3{
  border-color: var(--r-3);
}
.b-red4{
  border-color: var(--r-4);
}
.b-red5{
  border-color: var(--r-5);
}
.b-red1{
  border-color: var(--r-1);
}
.b-red6{
  border-color: var(--r-2);
}
.b-red7{
  border-color: var(--r-3);
}
.b-red8{
  border-color: var(--r-4);
}
.b-red9{
  border-color: var(--r-5);
}
.b-red10{
  border-color: var(--r-5);
}
.b-blue1{
  border-color: var(--b-1);
}
.b-blue2{
  border-color: var(--b-2);
}
.b-blue3{
  border-color: var(--b-3);
}
.b-blue4{
  border-color: var(--b-4);
}
.b-blue5{
  border-color: var(--b-5);
}
.b-blue6{
  border-color: var(--b-6);
}
.b-blue7{
  border-color: var(--b-7);
}
.b-blue8{
  border-color: var(--b-8);
}
.b-blue9{
  border-color: var(--b-9);
}
.b-blue10{
  border-color: var(--b-10);
}
/*
Grey
*/
.b-grey1{
  border-color: var(--gr-1);
}
.b-grey2{
  border-color: var(--gr-2);
}
.b-grey3{
  border-color: var(--gr-3);
}
.b-grey4{
  border-color: var(--gr-4);
}
.b-grey5{
  border-color: var(--gr-5);
}
.b-grey6{
  border-color: var(--gr-6);
}
.b-grey7{
  border-color: var(--gr-7);
}
.b-grey8{
  border-color: var(--gr-8);
}
.b-grey9{
  border-color: var(--gr-9);
}
.b-grey10{
  border-color: var(--gr-10);
}
/*
gray
*/
.b-gray1{
  border-color: var(--ge-1);
}
.b-gray2{
  border-color: var(--ge-2);
}
.b-gray3{
  border-color: var(--ge-3);
}
.b-gray4{
  border-color: var(--ge-4);
}
.b-gray5{
  border-color: var(--ge-5);
}
.b-gray6{
  border-color: var(--ge-6);
}
.b-gray7{
  border-color: var(--ge-7);
}
.b-gray8{
  border-color: var(--ge-8);
}
.b-gray9{
  border-color: var(--ge-9);
}
.b-gray10{
  border-color: var(--ge-10);
}
/*
 Yellow
*/
.b-yellow1{
  border-color: var(--y-1);
}
.b-yellow2{
  border-color: var(--y-2);
}
.b-yellow3{
  border-color: var(--y-3);
}
.b-yellow4{
  border-color: var(--y-4);
}
.b-yellow5{
  border-color: var(--y-5);
}
.b-yellow6{
  border-color: var(--y-6);
}
.b-yellow7{
  border-color: var(--y-7);
}
.b-yellow8{
  border-color: var(--y-8);
}
.b-yellow9{
  border-color: var(--y-9);
}
.b-yellow10{
  border-color: var(--y-10);
}
/*
Green
*/
.b-green1{
  border-color: var(--ge-1);
}
.b-green2{
  border-color: var(--ge-2);
}
.b-green3{
  border-color: var(--ge-3);
}
.b-green4{
  border-color: var(--ge-4);
}
.b-green5{
  border-color: var(--ge-5);
}
.b-green6{
  border-color: var(--ge-6);
}
.b-green7{
  border-color: var(--ge-7);
}
.b-green8{
  border-color: var(--ge-8);
}
.b-green9{
  border-color: var(--ge-9);
}
.b-green10{
  border-color: var(--ge-10);
}
/*
Pink
*/
.b-pink1{
  border-color: var(--p-1);
}
.b-pink2{
  border-color: var(--p-2);
}

.b-pink3{
  border-color: var(--p-3);
}

.b-pink4{
  border-color: var(--p-4);
}

.b-pink5{
  border-color: var(--p-5);
}

.b-pink6{
  border-color: var(--p-6);
}

.b-pink7{
  border-color: var(--p-7);
}

.b-pink8{
  border-color: var(--p-8);
}

.b-pink9{
  border-color: var(--p-9);
}
.b-pink10{
  border-color: var(--p-10);
}
/*
Brown
*/
.b-brown1{
  border-color: var(--br-1);
}
.b-brown2{
  border-color: var(--br-2);
}
.b-brown3{
  border-color: var(--br-3);
}
.b-brown4{
  border-color: var(--br-4);
}
.b-brown5{
  border-color: var(--br-5);
}
.b-brown6{
  border-color: var(--br-6);
}
.b-brown7{
  border-color: var(--br-7);
}
.b-brown8{
  border-color: var(--br-8);
}
.b-brown9{
  border-color: var(--br-9);
}
.b-brown10{
  border-color: var(--br-10);
}

/*Hover Colors */
.h-red1 ::slotted(a:hover){
  background-color: var(--r-1);
}
.h-red2 ::slotted(a:hover){
  background-color: var(--r-2);
}
.h-red3 ::slotted(a:hover){
  background-color: var(--r-3);
}
.h-red4 ::slotted(a:hover){
  background-color: var(--r-4);
}
.h-red5 ::slotted(a:hover){
  background-color: var(--r-5);
}
.h-red1 ::slotted(a:hover){
  background-color: var(--r-1);
}
.h-red6 ::slotted(a:hover){
  background-color: var(--r-2);
}
.h-red7 ::slotted(a:hover){
  background-color: var(--r-3);
}
.h-red8 ::slotted(a:hover){
  background-color: var(--r-4);
}
.h-red9 ::slotted(a:hover){
  background-color: var(--r-5);
}
.h-red10 ::slotted(a:hover){
  background-color: var(--r-5);
}
/*
Blue
*/
.h-blue1 ::slotted(a:hover){
  background-color: var(--b-1);
}
.h-blue2 ::slotted(a:hover){
  background-color: var(--b-2);
}
.h-blue3 ::slotted(a:hover){
  background-color: var(--b-3);
}
.h-blue4 ::slotted(a:hover){
  background-color: var(--b-4);
}
.h-blue5 ::slotted(a:hover){
  background-color: var(--b-5);
}
.h-blue6 ::slotted(a:hover){
  background-color: var(--b-6);
}
.h-blue7 ::slotted(a:hover){
  background-color: var(--b-7);
}
.h-blue8 ::slotted(a:hover){
  background-color: var(--b-8);
}
.h-blue9 ::slotted(a:hover){
  background-color: var(--b-9);
}
.h-blue10 ::slotted(a:hover){
  background-color: var(--b-10);
}
/*
Grey
*/
.h-grey1 ::slotted(a:hover){
  background-color: var(--gr-1);
}
.h-grey2 ::slotted(a:hover){
  background-color: var(--gr-2);
}
.h-grey3 ::slotted(a:hover){
  background-color: var(--gr-3);
}
.h-grey4 ::slotted(a:hover){
  background-color: var(--gr-4);
}
.h-grey5 ::slotted(a:hover){
  background-color: var(--gr-5);
}
.h-grey6 ::slotted(a:hover){
  background-color: var(--gr-6);
}
.h-grey7 ::slotted(a:hover){
  background-color: var(--gr-7);
}
.h-grey8 ::slotted(a:hover){
  background-color: var(--gr-8);
}
.h-grey9 ::slotted(a:hover){
  background-color: var(--gr-9);
}
.h-grey10 ::slotted(a:hover){
  background-color: var(--gr-10);
}
/*
gray
*/
.h-gray1 ::slotted(a:hover){
  background-color: var(--ge-1);
}
.h-gray2 ::slotted(a:hover){
  background-color: var(--ge-2);
}
.h-gray3 ::slotted(a:hover){
  background-color: var(--ge-3);
}
.h-gray4 ::slotted(a:hover){
  background-color: var(--ge-4);
}
.h-gray5 ::slotted(a:hover){
  background-color: var(--ge-5);
}
.h-gray6 ::slotted(a:hover){
  background-color: var(--ge-6);
}
.h-gray7 ::slotted(a:hover){
  background-color: var(--ge-7);
}
.h-gray8 ::slotted(a:hover){
  background-color: var(--ge-8);
}
.h-gray9 ::slotted(a:hover){
  background-color: var(--ge-9);
}
.h-gray10 ::slotted(a:hover){
  background-color: var(--ge-10);
}
/*
 Yellow
*/
.h-yellow1 ::slotted(a:hover){
  background-color: var(--y-1);
}
.h-yellow2 ::slotted(a:hover){
  background-color: var(--y-2);
}
.h-yellow3 ::slotted(a:hover){
  background-color: var(--y-3);
}
.h-yellow4 ::slotted(a:hover){
  background-color: var(--y-4);
}
.h-yellow5 ::slotted(a:hover){
  background-color: var(--y-5);
}
.h-yellow6 ::slotted(a:hover){
  background-color: var(--y-6);
}
.h-yellow7 ::slotted(a:hover){
  background-color: var(--y-7);
}
.h-yellow8 ::slotted(a:hover){
  background-color: var(--y-8);
}
.h-yellow9 ::slotted(a:hover){
  background-color: var(--y-9);
}
.h-yellow10 ::slotted(a:hover){
  background-color: var(--y-10);
}
/*
Green
*/
.h-green1 ::slotted(a:hover){
  background-color: var(--ge-1);
}
.h-green2 ::slotted(a:hover){
  background-color: var(--ge-2);
}
.h-green3 ::slotted(a:hover){
  background-color: var(--ge-3);
}
.h-green4 ::slotted(a:hover){
  background-color: var(--ge-4);
}
.h-green5 ::slotted(a:hover){
  background-color: var(--ge-5);
}
.h-green6 ::slotted(a:hover){
  background-color: var(--ge-6);
}
.h-green7 ::slotted(a:hover){
  background-color: var(--ge-7);
}
.h-green8 ::slotted(a:hover){
  background-color: var(--ge-8);
}
.h-green9 ::slotted(a:hover){
  background-color: var(--ge-9);
}
.h-green10 ::slotted(a:hover){
  background-color: var(--ge-10);
}
/*
Pink
*/
.h-pink1 ::slotted(a:hover){
  background-color: var(--p-1);
}
.h-pink2 ::slotted(a:hover){
  background-color: var(--p-2);
}

.h-pink3 ::slotted(a:hover){
  background-color: var(--p-3);
}

.h-pink4 ::slotted(a:hover){
  background-color: var(--p-4);
}

.h-pink5 ::slotted(a:hover){
  background-color: var(--p-5);
}

.h-pink6 ::slotted(a:hover){
  background-color: var(--p-6);
}

.h-pink7 ::slotted(a:hover){
  background-color: var(--p-7);
}

.h-pink8 ::slotted(a:hover){
  background-color: var(--p-8);
}

.h-pink9 ::slotted(a:hover){
  background-color: var(--p-9);
}
.h-pink10 ::slotted(a:hover){
  background-color: var(--p-10);
}
/*
Brown
*/
.h-brown1 ::slotted(a:hover){
  background-color: var(--br-1);
}
.h-brown2 ::slotted(a:hover){
  background-color: var(--br-2);
}
.h-brown3 ::slotted(a:hover){
  background-color: var(--br-3);
}
.h-brown4 ::slotted(a:hover){
  background-color: var(--br-4);
}
.h-brown5 ::slotted(a:hover){
  background-color: var(--br-5);
}
.h-brown6 ::slotted(a:hover){
  background-color: var(--br-6);
}
.h-brown7 ::slotted(a:hover){
  background-color: var(--br-7);
}
.h-brown8 ::slotted(a:hover){
  background-color: var(--br-8);
}
.h-brown9 ::slotted(a:hover){
  background-color: var(--br-9);
}
.h-brown10 ::slotted(a:hover){
  background-color: var(--br-10);
}



