# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Leo Barzinje\Desktop\ITF 210191_LeoBarzinje_Studentnummer_173008\DataFrameworks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
