:host {
  display: block;
}

article {
  margin: 0;
  margin-top: 5px;
  border: 2px solid var(--gr-10);
}
article:hover {
  margin: 0;
  margin-top: 5px;
  border:4px solid var(--gr-10);
}


h3, h2 {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

p{
  color: rgb(39, 39, 39);
  text-align: center;
}
