:host {
  display: block;
}

.serif{
  font-family:'Times New Roman', Times, serif
}
.sans-serif{
  font-family:Arial, Helvetica, sans-serif
}
.monospace{
  font-family: 'Courier New', Courier, monospace;
}
.fantasy{
  font-family: 'Copperplate', 'Papyrus';
}

.large{
  font-size: large;
}

.medium{
  font-size: medium;
}

.small{
  font-size: small;
}

.textRight{
  text-align: right;
}
.textLeft{
  text-align: left;
}
.textCenter{
  text-align: center;
}


/*Colors*/
/*
Red
*/
.red1{
  background-color:#FFCCBC;
}
.red2{
  background-color:#FFAC9C;
}
.red3{
  background-color: #FF8C7C;
}
.red4{
  background-color: #FF7C6C;
}
.red5{
  background-color: #FF6C5C;
}

.red6{
  background-color:#F75C4C;
}
.red7{
  background-color: #E74C3C;
}
.red8{
  background-color: #D73C2C;
}
.red9{
  background-color: #C72C1C;
}
.red10{
  background-color: #B71C0C;
}
/*
Blue
*/
.blue1{
  background-color: #39d5ff;
}
.blue2{
  background-color: #29c5ff;
}
.blue3{
  background-color: #19B5FE;
}
.blue4{
  background-color: #22A7F0;
}
.blue5{
  background-color:#1297e0;
}
.blue6{
  background-color: #0287d0;
}
.blue7{
  background-color: #0077c0;
}
.blue8{
  background-color: #0067b0;
}
.blue9{
  background-color: #0057a0;
}
.blue10{
  background-color:#004790;
}
/*
Grey
*/
.grey1{
  background-color: #e0e0e0;
}
.grey2{
  background-color: #d0d0d0;
}
.grey3{
  background-color: #c0c0c0;
}
.grey4{
  background-color: #a0a0a0;
}
.grey5{
  background-color: #909090;
}
.grey6{
  background-color: #808080;
}
.grey7{
  background-color: #707070;
}
.grey8{
  background-color: #606060;
}
.grey9{
  background-color: #505050;
}
.grey10{
  background-color: #404040;
}
/*
gray
*/
.gray1{
  background-color: #c5d3e2;
}
.gray2{
  background-color: #bccad9;
}
.gray3{
  background-color: #acbac9;
}
.gray4{
  background-color: #9caab9;
}
.gray5{
  background-color: #8c9aa9;
}
.gray6{
  background-color: #7c8a99;
}
.gray7{
  background-color: #6C7A89;
}
.gray8{
  background-color: #5c6a79;
}
.gray9{
  background-color: #4c5a69;
}
.gray10{
  background-color: #3c4a59;
}
/*
 Yellow
*/
.yellow1{
  background-color: #FDE3A7;
}
.yellow2{
  background-color: #ffcf4b;
}
.yellow3{
  background-color: #F9BF3B;
}
.yellow4{
  background-color: #f9b32f;
}
.yellow5{
  background-color: #F5AB35;
}
.yellow6{
  background-color: #F39C12;
}
.yellow7{
  background-color: #f1892d;
}
.yellow8{
  background-color: #e67e22;
}
.yellow9{
  background-color: #d87400;
}
.yellow10{
  background-color: #c86100;
}
/*
Green
*/
.green1{
  background-color: #8effc1;
}
.green2{
  background-color: #5efca1;
}
.green3{
  background-color: #4eec91;
}
.green4{
  background-color: #3edc81;
}
.green5{
  background-color: #2ecc71;
}
.green6{
  background-color: #1ebc61;
}
.green7{
  background-color: #0eac51;
}
.green8{
  background-color: #009c41;
}
.green9{
  background-color: #008c31;
}
.green10{
  background-color:#007c21;
}
/*
Pink
*/
.pink1{
  background-color: #FFBCD8;
}
.pink2{
  background-color: #FF8CC8;
}

.pink3{
  background-color: #FF7CB8;
}

.pink4{
  background-color: #FF6CA8;
}

.pink5{
  background-color:#FA5C98;
}

.pink6{
  background-color: #DA3C78;
}

.pink7{
  background-color: #CA2C68;
}

.pink8{
  background-color: #BA1C58;
}

.pink9{
  background-color: #BA1C58;
}
.pink10{
  background-color: #9A0038;
}
/*
Brown
*/
.brown1{
  background-color: #F6C4A3;
}
.brown2{
  background-color: #EAB897;
}
.brown3{
  background-color: #DFAD8C;
}
.brown4{
  background-color: #D4A281;
}
.brown5{
  background-color: #CE9C7B;
}
.brown6{
  background-color: #BE8C6B;
}
.brown7{
  background-color: #AE7C5B;
}
.brown8{
  background-color: #9E6C4B;
}
.brown9{
  background-color: #8E5C3B;
}
.brown10{
  background-color: #6e3c1b;
}
/*
