:host {
  display: block;
}

.serif {
  font-family: 'Times New Roman', Times, serif;
}
.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}
.monospace {
  font-family: 'Courier New', Courier, monospace;
}
.fantasy {
  font-family: 'Copperplate', 'Papyrus';
}

.large {
  font-size: medium;
}

.medium {
  font-size: medium;
}

.small {
  font-size: small;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  margin-left: 50%;
  margin-right: 50%;
}

.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}
.textCenter {
  text-align: center;
}
